{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}
<div class="container">

    <header class="page-header">
        <h2 class="page-title">Mes Notes</h2>
    </header>

    <div class="actions">
        <a href="{{ path('note:create') }}" class="btn btn-secondary">Ajouter une note</a>
    </div>

    {{ dump(notes) }}

    <main>
        <ul>
        {% for note in notes %}
            <li>{{ note.title }} ( <a href="{{ path('note:read', {id: note.id}) }}">voir</a> <a href="{{ path('note:update', {id: note.id}) }}">edit</a> )</li>
        {% endfor %}
        </ul>
    </main>

</div>
{% endblock %}
