{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <header class="page-header">
        <h2 class="page-title">Ma note ({{ note.id }}): xxxxx</h2>
    </header>

    <div>
        titre: {{ note.title }}
    </div>
    <div>
        Date d'ajout: {{ note.createAt | date("Y-m-d H:i:s") }}
    </div>
    <div>
        Créer par: {{ note.user.screenname }}
    </div>
    {{ dump(note) }}

</div>
{% endblock %}