<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}WebNotes !{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>

    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="{{ path('homepage') }}">WebNotes</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#webnotes-navbar" aria-controls="webnotes-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="webnotes-navbar">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('note:index') }}">Notes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('category:index') }}">Categories</a>
                    </li>
                    
                </ul>


                {# Menu utilisateur #}
                <ul class="navbar-nav ml-auto">
                {# is_granted('ROLE_ADMIN') #}
                {# is_granted('IS_AUTHENTICATED_FULLY') #}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {# Utilisateur identifié #}
                    <li class="nav-item">
                        <a class="nav-link" href="#">user.screenname</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
                    </li>

                {% else %}
                    {# Utilisateur Anonyme #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>

                {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    {# {{ dump(is_granted('ROLE_ADMIN')) }}
    {{ dump(is_granted('IS_AUTHENTICATED_FULLY')) }}
    {{ dump(is_granted('IS_AUTHENTICATED_REMEMBERED')) }} #}

    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}
</body>

</html>