{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{{ form_start(form) }}

{# Firstname #}
<div class="form-group">
    {{ form_label(form.firstname) }}
    {{ form_widget(form.firstname) }}
    {{ form_errors(form.firstname) }}
    {{ form_help(form.firstname) }}
</div>
{# Lastname #}
<div class="form-group">
    {{ form_label(form.lastname) }}
    {{ form_widget(form.lastname) }}
    {{ form_errors(form.lastname) }}
    {{ form_help(form.lastname) }}
</div>

{# Email #}
<div class="form-group">
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_help(form.email) }}
</div>
{# Confirm Email #}
<div class="form-group">
    {# {{ form_label(form.) }} #}
    {# {{ form_widget(form.) }} #}
    {# {{ form_errors(form.) }} #}
    {# {{ form_help(form.) }} #}
</div>

{# Password #}
<div class="form-group">
    {{ form_label(form.password) }}
    {{ form_widget(form.password) }}
    {{ form_errors(form.password) }}
    {{ form_help(form.password) }}
</div>
{# Confirm Password #}
<div class="form-group">
    {# {{ form_label(form.xxxx) }} #}
    {# {{ form_widget(form.xxxx) }} #}
    {# {{ form_errors(form.xxxx) }} #}
    {# {{ form_help(form.xxxx) }} #}
</div>

{# AgreeTerms #}
<div class="form-group">
    {# {{ form_label(form.agreeTerms) }} #}
    {{ form_widget(form.agreeTerms) }}
    <label class="ml-3 mb-0" for="{{ form.agreeTerms.vars.id }}">J'accepte les conditions</label>
    {{ form_errors(form.agreeTerms) }}
    {# {{ form_help(form.agreeTerms) }} #}
</div>

<button type="submit" class="btn btn-succes">Je m'inscris</button>

{{ form_end(form) }}
{% endblock %}